
/* GENERAL */
ul{
    text-decoration: none;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
}
:root{
    --color-1: #2c3f4f;
    --color-1-light:#3b546d;
    --color-2: #1abc98;
}

/* HEADER  */
.my-list{
    display: none;
}
header{
    background-color: var(--color-1);
}

/* MAIN */
.star{
    color: var(--color-1);
}
.dash{
    font-size: 5rem;    
}

/* jumbotron */
#jumbotron{
    background-color: var(--color-2);
}
.avatar{
    width: 300px;
}

/* portfolio */
#portfolio{
    scroll-margin: 50px;
}
/* about */
#about{
    background-color: var(--color-2);
    scroll-margin: 50px;
}

/* contact */
#contact{
    scroll-margin: 50px;
}
.submit{
    background-color: var(--color-2);
    border: none;
    transition: 0.3s;
}
.submit:hover{
    background-color:#1abc35;
}
.my-input{
    display: block;
}
.my-input > *{
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
}

/* FOOTER */
.info{
    background-color: var(--color-1-light);
}
.copyright{
    background-color: var(--color-1-light);
}
.start{
    color: var(--color-2);
}




@media screen and (min-width:769px) {
    .my-list{
        display: block;
    }
    .hamburger{
        display: none;
    }
    
}