
/* GENERAL */
ul{
    text-decoration: none;
}
li{
    display: inline-block;

/* HEADER  */
}
.my-list{
    display: none;
}
header{
    background-color: #2c3f4f;
}
.my-input{
    display: block;
}
.my-input > *{
    border: none;
    text-decoration: none;
}
/* MAIN */
.star > span{
    vertical-align: middle;
}
.dash{
    font-size: 5rem;
}

/* jumbotron */
#jumbotron{
    background-color: #1abc98;
}
.avatar{
    width: 300px;
}

/* portfolio */
#portfolio{
    scroll-margin: 50px;
}
/* about */
#about{
    background-color: #1abc98;
    scroll-margin: 50px;
}

/* contact */
#contact{
    scroll-margin: 50px;
}
.submit{
    background-color:#1abc98;
    border: none;
    transition: 0.3s;
}
.submit:hover{
    background-color:#1abc35;
}

/* FOOTER */
footer{
    background-color: #2c3f4f;
}
.start{
    color: #1abc98;
}




@media screen and (min-width:769px) {
    .my-list{
        display: block;
    }
    .hamburger{
        display: none;
    }
    
}